.subHeader {
    width: 100%;
    height: 2.5rem;
    background: #fff;
    border-bottom: 1px solid #cecece;
    box-shadow: 0 2px 2px -2px #333;
}

/* includes all the (ul) child in the class */
.subHeader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* '>' repesents the immediate direct child */
.subHeader > ul {
    display: flex;
    margin: 0 3.125rem;
    position: relative;
}

.subHeader > ul > li > span {
    display: block;
    line-height: 40px;
    cursor: pointer;
    padding: 0 20px;
    font-size: 14px;
}

.subHeader > ul > li > span:hover {
    color: #2874f0;
}

.subHeader > ul > li > ul {
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    display: none;
    border: 1px solid #cecece;
}

.subHeader > ul > li:hover ul {
    display: block;
}

.subHeader > ul > li > ul > li {
    margin: 0 20px;
    min-width: 150px;
}

.subHeader > ul > li > ul > li {
    float: left;
}

.subHeader > ul > li > ul > li > a {
    font-weight: bold;
    font-size: 13px;
}

.subHeader > ul > li > ul > li a {
    padding: 3px 0;
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #707070;
}